{% extends "base.html" %}

{% block body %}
    <article class="container mt-2 mb-2">
        <section class="mt-2 text-center">
            <ul id="auth" class="nav nav-tabs justify-content-center mb-2">
                <li class="active nav-item"> <a href="#login" data-toggle="tab" class="nav-link"> login </a> </li>
                <li class="nav-item"> <a href="#register" data-toggle="tab" class="nav-link"> register </a> </li>
            </ul>

            <div id="authContent" class="tab-content">
                <div class="tab-pane fade" id="login">
                    <div class="col-12 col-lg-6 offset-lg-3 text-left">
                        <form method="post" action="{{ url_for("home.login") }}">
                            {{ login_form.hidden_tag() }}
                            {{ macro.render_field(login_form.name) }}
                            {{ macro.render_field(login_form.passwd) }}

                            <div class="text-left">
                                {{ login_form.submit(class='btn btn-info mr-2') }}
                                {{ login_form.remember() }} {{ login_form.remember.label }}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="register">
                    <div class="col-12 col-lg-6 offset-lg-3 text-left">
                        <form method="post" action="{{ url_for("home.register") }}">
                            {{ register_form.hidden_tag() }}
                            {{ macro.render_field(register_form.name) }}
                            {{ macro.render_field(register_form.template) }}
                            {{ macro.render_field(register_form.passwd) }}
                            {{ macro.render_field(register_form.passwd_again) }}

                            <div class="text-left">
                                {{ register_form.submit(class='btn btn-info mr-2') }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </article>

{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
        $('#auth .active a').tab('show');  // 显示第一个 tab
    </script>
{% endblock %}