{% extends "base.html" %}

{% block body %}
    <article class="container mt-2 mb--2">
        <p class="col-8 offset-2 text-center" > {{ about }} </p>
        <section class="mt-2 text-center">
            <ul id="auth" class="nav nav-tabs justify-content-center mb-2">
                <li class="active nav-item"> <a href="#login" data-toggle="tab" class="nav-link"> login </a> </li>
                <li class="nav-item"> <a href="#register" data-toggle="tab" class="nav-link"> register </a> </li>
            </ul>

            <div id="authContent" class="tab-content">
                <div class="tab-pane fade" id="login">
                    <div class="col-12 col-lg-6 offset-lg-3">
                        <form method="post" action="{{ url_for("home.login") }}" class="login-form">
                            {{ login_form.hidden_tag() }}

                            <div class="form-group text-left">
                                {{ login_form.name.label }}
                                {{ login_form.name(class="form-control") }}
                            </div>

                            <div class="form-group text-left">
                                {{ login_form.passwd.label }}
                                {{ login_form.passwd(class="form-control") }}
                            </div>

                            <div class="text-left">
                                {{ login_form.submit(class='btn btn-info mr-2') }}
                                {{ login_form.remember() }} {{ login_form.remember.label }}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="register">
                    <div class="col-12 col-lg-6 offset-lg-3">
                        <form method="post" action="{{ url_for("home.register") }}" class="register-form">
                            {{ register_form.hidden_tag() }}

                            <div class="form-group text-left">
                                {{ register_form.name.label }}
                                {{ register_form.name(class="form-control") }}
                            </div>

                            <div class="form-group text-left">
                                {{ register_form.template.label }}
                                {{ register_form.template(class="form-control") }}
                            </div>

                            <div class="form-group text-left">
                                {{ register_form.passwd.label }}
                                {{ register_form.passwd(class="form-control") }}
                            </div>

                            <div class="form-group text-left">
                                {{ register_form.passwd_again.label }}
                                {{ register_form.passwd_again(class="form-control") }}
                            </div>

                            <div class="text-left">
                                {{ register_form.submit(class='btn btn-info mr-2') }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </article>

{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
        $('#auth .active a').tab('show');  // 显示第一个 tab
    </script>
{% endblock %}