{% extends "base.html" %}

{% block body %}
    <article class="container mt-2 mb-2">
        <section class="mt-2 text-center">
            <ul id="test" class="nav nav-tabs justify-content-center mb-2">
                <li class="active nav-item"> <a href="#word" data-toggle="tab" class="nav-link"> Word </a> </li>
                {% if have_word %}
                    <li class="nav-item"> <a href="#info" data-toggle="tab" class="nav-link"> Info </a> </li>
                {% endif %}
                <li class="nav-item"> <a href="#user" data-toggle="tab" class="nav-link"> User </a> </li>
            </ul>

            <div id="testContent" class="tab-content">
                <div class="tab-pane fade" id="word">
                    {% if have_word %}
                        <p class="text-center h2"> <u> {{ word.name }} </u> </p>
                        <p class="h5 text-center"> Box: {{ word.box }} </p>
                        <div class="col-12 col-lg-6 offset-lg-3">
                            {% for w in word.comment %}
                                <p class="h6 text-left">
                                    {{ word.comment[w].part }}
                                </p>

                                <ul class="text-left">
                                    {% for e in word.comment[w].eg %}
                                        <li> <p> {{ e.split('##')[0] }} </p> </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="text-center">
                            <p> Sorry, there not any word. </p>
                            <a class="btn btn-dark mr-2 mb-2" href="{{ url_for("test.question") }}"> Next word </a>
                        </div>
                    {% endif %}
                </div>
                {% if have_word %}
                    <div class="tab-pane fade" id="info">
                        <p class="text-center h2"> <u> {{ word.name }} </u> </p>
                        <div class="col-12 col-lg-6 offset-lg-3">
                            {% for w in word.comment %}
                                <p class="h5 text-left">
                                    {{ word.comment[w].chinese }}
                                </p>

                                <p class="h6 text-left">
                                    {{ word.comment[w].english }}
                                </p>

                                <p class="h6 text-left">
                                    ({{ word.comment[w].part }})
                                </p>

                                <ul class="text-left">
                                    {% for e in word.comment[w].eg %}
                                        <li>
                                            <p> {{ e.split('##')[0] }} </p>
                                            <p> {{ e.split('##')[1] }} </p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                            <div class="row justify-content-center mb-2">

                                <div id="DeleteModal" class="modal fade" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title"> Do you sure delete this word？ </h4>
                                            </div>
                                            <div class="modal-body">
                                                <p> Do you sure delete '{{ word.name }}' ？ </p>
                                                <p> After doing this, you will never see this word again. </p>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-danger" href="{{ url_for("test.delete", word=word.name) }}" > Sure </a>
                                                <a class="btn btn-secondary" data-dismiss="modal"> No </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a class="btn btn-dark mr-2 mb-2" href="{{ url_for("test.question") }}"> Next word </a>
                                <a class="btn btn-light mr-2 mb-2" href="{{ url_for("test.download", word=word.name) }}"> Download word </a>
                                <a class="btn btn-outline-danger mr-2 mb-2" data-toggle="modal" data-target="#DeleteModal" > Delete word </a>
                                <a class="btn btn-success mr-2 mb-2" href="{{ url_for("test.right", word_id=word_id) }}"> Right </a>
                                <a class="btn btn-danger mr-2 mb-2" href="{{ url_for("test.wrong", word_id=word_id) }}" > Wrong </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="tab-pane fade" id="user">
                    <div id="LogoutModal" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"> Logout？ </h4>
                                </div>
                                <div class="modal-body">
                                    <p> Are you sure you want to logout '{{ current_user.user }}' ？ </p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-danger" href="{{ url_for("home.logout") }}" > Sure </a>
                                    <a class="btn btn-secondary" data-dismiss="modal"> No </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form>
                        {{ reset_delete.hidden_tag() }}
                        <div id="ResetModal" class="modal fade" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title"> Reset or delete user？</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p> Are you sure you want to reset or delete '{{ current_user.user }}' ？ Or you can just set new passwd. </p>
                                        {{ macro.render_field(reset_delete.name) }}
                                        {{ macro.render_field(reset_delete.passwd) }}
                                        {{ macro.render_field(reset_delete.new_passwd) }}
                                    </div>
                                    <div class="modal-footer">
                                        {{ reset_delete.submit(class='btn btn-outline-danger mr-2', formmethod="post", formaction=url_for("test.reset_passwd"), value="Set new passwd") }}
                                        {{ reset_delete.submit(class='btn btn-outline-danger mr-2', formmethod="post", formaction=url_for("test.reset_user"), value="Reset") }}
                                        {{ reset_delete.submit(class='btn btn-danger mr-2', formmethod="post", formaction=url_for("test.delete_user"), value="Delete") }}
                                        <a class="btn btn-secondary" data-dismiss="modal"> No </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="col-12 col-lg-6 offset-lg-3 text-left">
                        <p class="h4 mb-2 col-12"> User: {{ current_user.user }} </p>
                        <p class="col-12"> You have {{ box_sum_distinct }}({{ box_sum }}) word(s) in database. </p>
                        <p class="col-12">
                            Today, you have feedback {{ right_count + wrong_count }} word. <br>
                            Right: {{ right_count }}, Wrong: {{ wrong_count }}. <br>
                            Last word is '{{ history[-1] }}'.
                        </p>

                        <div class="col-12 text-center mb-2">
                            <a class="btn btn-light mr-2 mb-2" href="{{ url_for("word_list.show_box_word", box=1) }}" >
                                <span class="small"> Box1: {{ box_distinct[0] }} ({{ box[0] }}) </span> </a>
                            <a class="btn btn-light mr-2 mb-2" href="{{ url_for("word_list.show_box_word", box=2) }}">
                                <span class="small"> Box2: {{ box_distinct[1] }} ({{ box[1] }}) </span> </a>
                            <a class="btn btn-light mr-2 mb-2" href="{{ url_for("word_list.show_box_word", box=3) }}">
                                <span class="small"> Box3: {{ box_distinct[2] }} ({{ box[2] }}) </span> </a>
                            <a class="btn btn-light mr-2 mb-2" href="{{ url_for("word_list.show_box_word", box=4) }}">
                                <span class="small"> Box4: {{ box_distinct[3] }} ({{ box[3] }}) </span> </a>
                            <a class="btn btn-light mb-2" href="{{ url_for("word_list.show_box_word", box=5) }}">
                                <span class="small"> Box5: {{ box_distinct[4] }} ({{ box[4] }}) </span> </a>
                        </div>

                        <a class="col-12 btn btn-primary mb-2" href="{{ url_for("word_list.show_all_word") }}"> Word List </a>
                        <div class="text-center">
                            <div class="btn-group mb-2" role="group">
                                <a class="btn btn-dark" href="{{ url_for("test.download_table", file_type="csv") }}"> csv </a>
                                <a class="btn btn-secondary" href="{{ url_for("test.download_table", file_type="xlsx") }}"> xlsx </a>
                                <a class="btn btn-success" href="{{ url_for("test.download_table", file_type="json") }}"> json </a>
                                <a class="btn btn-danger" href="{{ url_for("test.download_table", file_type="markdown") }}"> md </a>
                                <a class="btn btn-warning" href="{{ url_for("test.download_table", file_type="latex") }}"> latex </a>
                                <a class="btn btn-light" href="{{ url_for("test.download_table", file_type="html") }}"> html </a>
                            </div>
                        </div>

                        <form method="post" action="{{ url_for("test.search") }}" class="mb-2">
                            {{ search.hidden_tag() }}

                            <div class="form-group text-left">
                                {{ search.search(class="form-control") }}
                            </div>
                            {% for error in search.search.errors %}
                                <small class="text-danger form-text"> {{ error }} </small>
                            {% endfor %}

                            <div class="text-left">
                                {{ search.submit(class='btn btn-outline-primary mr-2') }}
                                {{ search.from_internet() }} {{ search.from_internet.label }}
                                {{ search.add_to_db() }} {{ search.add_to_db.label }}
                            </div>
                        </form>

                        {% if have_job %}
                            <p class="text-center"> Please wait for the current task to complete. </p>
                        {% else %}
                            <form method="post" action="{{ url_for("test.upload") }}" enctype="multipart/form-data" class="mb-2">
                            {{ upload.hidden_tag() }}
                            {{ upload.submit(class='btn btn-outline-primary mr-2') }}
                            {{ upload.file(class="btn") }}
                        </form>
                        {% endif %}

                        <a class="col-12 btn btn-outline-danger mr-2 mb-2" data-toggle="modal" data-target="#LogoutModal"> LOGOUT </a>
                        <a class="col-12 btn btn-danger mr-2 mb-2" data-toggle="modal" data-target="#ResetModal" > RESET/DELETE USER </a>
                    </div>
                </div>
            </div>
        </section>

    </article>

{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
        $('#test .active a').tab('show');  // 显示第一个 tab
    </script>
{% endblock %}
